<div class="header-menu">
  <div class="bars">
    <a><i class="fa fa-bars"></i></a>
  </div>
<div class="menu">
    <ul class="colorized colorized-rainbow">
      <li><a href="#surfy">Qu'est ce que Surfy ?</a></li>
      <li><a href="#atouts">Atouts</a></li>
      <li><a href="#solutions">Solutions</a></li>
      <li><a href="#prix">Prix</a></li>
      <li><a href="#references">References</a></li>
      <li><a href="#services">Services</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>
</div>
<div class="main-area">
  <div class="zone-full header">
    <div class="logo"><img src="/assets/logos/surfy-logo.png"></div>
    <div class="text">L’outil qui rafraîchit la gestion de l’Environnement de Travail</div>
  </div>
  <%= render 'zones/zone1' %>
  <%= render 'zones/zone2' %>
  <%= render 'zones/zone3' %>
  <%= render 'zones/zone4' %>
  <%= render 'zones/zone5' %>
  <%= render 'zones/zone6' %>
  <%= render 'zones/zone9' %>
  <%= render 'zones/zone7' %>
  <%= render 'zones/zone8' %>
</div>
